global:
  scrape_interval: 15s
scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
  - job_name: "services"
    static_configs:
      - targets: ["user-service:8080", "product-service:8081", "order-service:8082", "payment-service:8083", "notification-service:8084"]
